.project-card {
  background-color: #ffffff;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.project-tamanho {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project-options {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-right: 20px;
  justify-content: flex-end;
}

.options-back {
  color: #000000;
  font-size: x-large;
  cursor: pointer;
}

.project-name {
  text-align: end;
  font-size: large;
}

.project-name-size {
  text-align: center;
  font-size: large;
  width: 100%;
}

.project-diameter {
  text-align: end;
  margin-right: 30px;
  font-weight: bold;
  font-size: large;
  width: 25%;
}

.project-value {
  text-align: left;
  font-weight: bold;
  font-size: x-large;
}

.project-not-found {
  text-align: center;
}

.project-many {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
