.asteroid-card {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
}

.asteroid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.asteroid-tamanho {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.asteroid-options {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-right: 20px;
  justify-content: flex-end;
}

.options-back {
  color: #000000;
  font-size: x-large;
  cursor: pointer;
}

.asteroid-name {
  text-align: end;
  font-size: large;
}

.asteroid-name-size {
  text-align: center;
  font-size: large;
}

.asteroid-diameter {
  text-align: end;
  margin-right: 30px;
  font-weight: bold;
  font-size: large;
  justify-content: center;
  align-items: center;
}

.asteroid-value {
  margin-left: 10px;
  text-align: left;
  font-weight: bold;
  font-size: x-large;
}

.asteroid-size {
  margin-left: 5px;
  margin-right: 40px;
  text-align: left;
  font-weight: bold;
  font-size: large;
}

.danger {
  margin-left: 10px;
  color: #fa0000;
  text-align: left;
  font-weight: bold;
  font-size: x-large;
}

.no-danger {
  margin-left: 10px;
  color: #0b8600;
  text-align: left;
  font-weight: bold;
  font-size: x-large;
}

.asteroid-link {
  margin-top: 10px;
  text-decoration: none;
  color: #ad0000;
  font-size: large;
}

.asteroid-not-found {
  text-align: center;
}
