* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.App {
  width: 100%;
  display: flex;
  background-position: top;
  background-repeat: repeat;
  background-size: cover;
  position: absolute;
  z-index: 0;
}

.App small {
  color: #ffffff;
  position: absolute;
  z-index: 0;
}

.sobApp {
  background-color: rgb(0, 0, 0, 0.8);
  width: 100%;
  z-index: 1;
}

.size {
  padding: 0px 200px 0px 200px;
}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
